body{
    margin: 0;
    background: #999;
}
.wrapper{
    margin-top: 4%;
}
.contact{
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: space-around;
    text-align: center;
}
.card{
    background-color: #fff;
    width: 20%;
    padding: 15px;
    border-radius: 6px;
}
.card span i{
    font-size: 30px;
    color: #999;
}
.localisation{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
}
.message{
    padding: 16px;
    width: 25%;
    height: 380px;
    background-color: rgb(179, 177, 175);
    outline: none;
}
.message label{
    padding: 12px;
    font-weight: bold;
}
.message input{
    background: transparent;
    height: 30px;
    width: 96%;
    border-bottom: 2px solid rgb(97, 96, 96);
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 2%;
    padding-left: 8px;
}
.message textarea{
    background: transparent;
    width: 96%;
    border-bottom: 2px solid rgb(97, 96, 96);
    border-top: none;
    border-right: none;
    padding-left: 8px;
    padding-top: 12px;
    border-left: none;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
.message button{
    cursor: pointer;
    width: 97%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 6%;
}
.lacation{
    width: 50%;
}
iframe{
    width: 100%;
    height: 412px;
}
/* Mise en form de palrtie footer */

.footer{
    display: flex;
    justify-content: center;
}
footer{
    width: 100%;
    background-color: #fff;
}
.bas{
    height: 50px;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-top: 1px solid #999;
}
.reseau{
    display: flex;
    align-items: center;
}
.reseau a{
    padding: 8px;
    font-size: 30px;
    color: #999;
}
.title{
    font-size: 20px;
    font-weight: bold;
}
.eva i{
    font-size: 20px;
    color: #999;
}
.eva{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.vailde-evaluation{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
}
.haut{
    width: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.infos li{
    list-style-type: none;
}
/*  */




nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 96%;
    background-color: #61a6db83;
    position: relative;
    margin-top: 5px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 15px 25px, rgba(0, 0, 0, 0.01) 0px 5px 10px;
  }
  .logo-ninetech{
    width: 107px;
    height: auto;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    padding: 5px 0px 5px 30px ;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: transparent;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
    color: #1c3c7a;
    border-radius: 10px;
    box-shadow: 0px 80px 50px -30px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease 0s;
  }
  
  .nav > .nav-links > .link-pages:hover {
    background-color: #28c8e4;
    box-shadow: 0px 15px 20px rgba(28, 135, 223, 0.83);
    color: #fff;
    transform: translateY(-7px);
  }
  .nav > .nav-links > .link-page-abonnement button{
    height: 2rem;
    width: auto;
    padding: 2px 4px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    background-color: #2ecae5;
    transition: all 0.3s ease 0s;
    cursor: pointer;
      }
      .nav > .nav-links > .link-page-abonnement button:hover{
        background-color: #2ecae5;
        box-shadow: 0px 15px 35px rgba(23, 91, 238, 0.83);
        color: #fff;
        transform: translateY(-5px);
          }
     

      .btn-grad:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
     
  
  .nav > #nav-check {
    display: none;
  }
  @media (max-width:1024px) {
    .nav > .nav-links {
        display: inline;
        float: right;
        font-size: 12px;
        letter-spacing: 1px;
       
      }
    }
    @media (max-width:1300px) {
        .nav > .nav-links {
            font-size: 10px;
            letter-spacing: 0px;
          }
        }
      @media (max-width:961px) {
        .nav > .nav-links {
            font-size: 10px;
            letter-spacing: 0px;
          }
          .logo-ninetech{
            width: 80px;
            height: auto;
          }
          
      .nav > .nav-links > .link-page-abonnement button{
        height: 1.8rem;
        font-size: 10px;
        width: auto;
        padding: 2px 3px;
        
          }
      .nav { 
        width: 90%; 
      }
    }
    @media (max-width:852px) {
        nav {
           align-items: start;
        }
        .nav {
            width: 100%;
            border-radius: 0;
            margin-top: 0; 
          }
          .logo-ninetech{
            width: 100px;
            height: auto;
          }
        .nav > .nav-btn {
          display: inline-block;
          position: absolute;
          right: 0px;
          top: 0px;
        }
        .nav > .nav-btn > label {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 13px;
        }
        .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
          background-color: rgba(79, 202, 227, 0.95);
        }
        .nav > .nav-btn > label > span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid black;
        }
        .nav > .nav-links {
          position: absolute;
          display: block;
          width: 100%;
          background-color: #fff;
          height: 0px;
          transition: all 0.3s ease-in;
          overflow-y: hidden;
          top: 50px;
          left: 0px;
          padding: 2rem 0rem;
        }
        .nav > .nav-links > a {
          display: block;
          width: 100%;
          height: 2.7rem;
          font-size: 16px;
        }
        .nav > #nav-check:not(:checked) ~ .nav-links {
          height: 0px;
        }
        .nav > #nav-check:checked ~ .nav-links {
          height: calc(100vh - 50px);
          overflow-y: auto;
        }
        .nav > .nav-links > .link-page-abonnement button{
            height: 2.2rem;
            width: 6rem;
              }
        }
  

 




  .sub-header {
    height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(images/internet.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
  }
/*  */
/* Mise en forme du newsletter */
.newsletter{
    text-align: center;
    margin-bottom: 3%;
}
.new{
    background-image: url(images/new.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 96%;
    height: 250px;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 0px 0% 30% 30%;
}
.newsletter h1{
    text-decoration-line: underline;
    font-weight: bold;
}
.new .p{
    font-size: 22px;
}
.new p{
    color: black;
    font-weight: bold;
}
.new input{
    width: 300px;
    height: 35px;
    border-radius: 10px;
    padding-left: 5%;
    background: rgb(223, 222, 222);
    border: none;
}
.new button{
    cursor: pointer;
    padding: 12px;
    width: 120px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    background: #999;
    color: black;
    letter-spacing: 1px;
    margin-top: 3%;
}
/* Pour la responsivité */
@media screen and (max-width: 425px) {
    .sub-header{
        display: none;
    }
    .wrapper{
        width: 100%;
    }
    .contact{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .card{
        width: 88%;
        margin-bottom: 3%;
    }
    .localisation{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .message{
        width: 80%;
        margin: auto;
    }
    .lacation{
        width: 88%;
        margin: auto;
    }
    .new{
        width: 100%;
        height: 250px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        border-radius: 0px;
    }
}